#div61
{
    display: flex;
    color: #8b8c8d;
    margin-top: 20px;
    background-color: #f9faf9;
    border-bottom: 1px solid lightgray;
   
}
#imgn
{
    width: 150px;
    border-radius: 10px;
}
#div51
{
    margin-left:20px ;
    margin-top:10px ;

}
#div{
  margin-bottom: 5px;
  color: #333333;
}
#div21
{

}
